<div class="overlay-wrapper">
    <div class="slider-overlay">
        <div class="overlay-slide">
            <h2>Please, confirm that you are you!</h2>
            <h4 class="heading">Enter the code received in your email:</h4>
            <div class="contact-form" >
                <form id="customer-login">
                    <input id="customer-hashcode" type="text" ></input>
                    <input id="customer-hashcode-submit" type="submit" ></input>
                </form>
            </div>
        </div>
    </div>
</div>