doctype html
html
  head
    title
      = content_for?(:title) ? yield(:title) : "Custom Pro - Music Maker"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "responsive"
    = stylesheet_link_tag "prettyPhoto"
    = stylesheet_link_tag "supersized"
    = stylesheet_link_tag "supersized.shutter"
    = stylesheet_link_tag "jquery.jscrollpane"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  body
    .wrapper
      #header.header-wrapper
        .container
          header.row
            .span4.logo
              = image_tag "logo-frontpage.png"
            nav.desktop-nav.span7.right[style="width: 660px; margin-left: -15px;"]
              ul
                li
                  = link_to "Custom Pro Form", custom_form_path(), class: "#{'active' if current_page? custom_form_path()}"
                li
                  = link_to "Ask for your code", root_path(), class: "#{'active' if current_page? root_path()}"
                /li
                  = link_to "Custom Pro Form", root_path(), class: "#{'active' if current_page? checkout_path()}"
                li
                  a[href="http://www.mmguitarshop.com.br/" target="_blank"]
                    | Store
                li
                  a[href="http://www.musicmaker.com.br/" target="_blank"]
                    | Go to website
                li
                  a[href="http://www.musicmaker.com.br/contatos/" target="_blank"]
                    | Contact Us
            .mobile-nav
              select[name="select-box"]
                option[value="#"]
                  | Custom Pro Form
                option[value="#"]
                  | Ask for your code
                option[value="http://www.mmguitarshop.com.br/"]
                  | Store
                option[value="http://www.musicmaker.com.br/"]
                  | Go to website
                option[value="http://www.musicmaker.com.br/contatos/"]
                  | Contact Us
      .overlay-wrapper
        = yield
      footer#footer.footer-wrapper.home-footer
        .container
          .row
            .span8
              p
                |  © 2001 - 2016 All Rights Reserved - Forbidden total or partial reproduction.
            .span4.social-nav
              a[href="mailto:geazioliveira@gmail.com" style="width: 300px; height: 14px; display: inline-block; color: #e74d2e; padding-top: 8px;"]
                |  Created By Geazi Oliveira
